<br>
<%= bootstrap_form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.text_field :name %>
    <%= form.text_field :preparation_time %>
    <%= form.text_field :cooking_time %>
    <%= form.text_field :description %>
    <%= form.check_box :public %>
    <%= form.collection_select :user_id, User.all, :id, :name %>
    <br>
    <div class="d-flex justify-content-between">
      <%= form.submit %>
      <%= link_to "Back to recipes", recipes_path, class:'float-right btn btn-danger' %>
    </div>
<% end %>
