<br>
<%= bootstrap_form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.text_field :name %>
    <%= form.text_field :measurement_unit %>
    <%= form.text_field :price %>
    <br>
    <div class="d-flex justify-content-between">
      <%= form.submit %>
      <%= link_to "Back to foods", foods_path, class:'float-right btn btn-danger' %>
    </div>
<% end %>
